<div id="new-list">
  <%= link "New List", to: list_path(@conn, :new) %>
</div>
<h1>My Lists:</h1>

<ul>
  <%= for list <- @lists do %>
    <li>
      <%= link list.name, to: list_path(@conn, :show, list) %>
    </li>
  <% end %>
</ul>
